body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// ::-webkit-scrollbar {
//     /* chrome based */
//     width: 0px; /* ширина scrollbar'a */
//     //background: transparent; /* опционально */
// }

// html {
//     -ms-overflow-style: none; /* IE 10+ */
//     scrollbar-width: none; /* Firefox */
// }

:root {
    --logo: #fff;
}

:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.select-fieldset fieldset {
    border: none !important;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
