body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
    --logo: #fff;
}

.logo {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: var(--logo);
}

.appbar__logo {
    margin-right: 20px;
}
.chapter {
    font-weight: 400;
    color: var(--logo);
    text-decoration: none;
}

fieldset {
    border: none !important;
}
