.socialNetwork {
    display: flex;
}

.footer {
    padding: 60px 0 30px;
}

.footer_politics {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8125rem;
}
.footer_politics span {
    font-size: 0.8125rem;
}
