.scrolled {
    background-color: white !important;
    color: black !important;
    border-bottom: 1px solid #ededed;
    & a {
        color: black;
    }
    & button {
        color: black;
    }
}
