.scrolled {
    background-color: white !important;
    color: black !important;
    border-bottom: 1px solid #ededed;
    & a {
        color: black;
    }
    & button {
        color: black;
    }
}

.logo {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: var(--logo);
}

.appbar__logo {
    margin-right: 20px;
}

.chapter {
    font-weight: 400;
    color: var(--logo);
    text-decoration: none;
}
