.banner {
    margin-top: 0;
    background: url("../../assets/img/home_section_1.jpg") top center/cover no-repeat fixed;
    width: 100%;
    position: relative;
    color: #fff;
    height: 620px;
    @media screen and (max-width: 767px) {
        background: url("../../assets/img/home_section_1.jpg") -300px top/cover no-repeat fixed;
    }
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.header {
    background-color: transparent;
    z-index: 50;
    position: fixed;
}

.about {
    background: url("../../assets/img/bg_call_section.jpg") center center/cover no-repeat fixed;
}
.wrapperAbout {
    padding: 75px 0 50px;
    background-color: rgba(0, 0, 0, 0.6);
    @media screen and (max-width: 599px) {
        background: #051d4d;
    }
}

.button {
    @media screen and (max-width: 400px) {
        width: 100%;
    }
}

.link {
    display: flex;
    align-items: center;
}

.tagslink {
    display: inline-block;
    padding: 4px 10px;
    margin: 2.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1976d2;
}

.carousel .css-bhp9pd-MuiPaper-root-MuiCard-root {
    box-shadow: none !important;
}

:root {
    .css-bhp9pd-MuiPaper-root-MuiCard-root {
        box-shadow: none !important;
    }
}
